<aside class="hidden lg:block lg:col-span-1">
    <div class="sticky top-32 mx-auto w-full max-w-[16rem] space-y-4">
        <h2 class="my-0! pb-1 leading-none! font-medium">
            Sort by:
        </h2>
        <nav class="not-prose flex">
            <a href="writing/tags"
                class="block-bg relative mb-4 rounded-lg p-4">
                Tags
            </a>
            <a href="writing/archive"
                class="block-bg relative mb-4 rounded-lg p-4 mx-1">
                Archive
            </a>
        </nav>
    </div>
</aside>