<aside class="hidden lg:block lg:col-span-1">
  <div class="sticky top-32 mx-auto w-full max-w-[16rem] space-y-4">
    <h2 class="text-lg font-semibold tracking-wide text-neutral-300 dark:text-neutral-200">
      Sort by:
    </h2>
        <ul>
            <li>
                <a href="tags" class="px-3 py-2 rounded-lg bg-neutral-100 hover:bg-neutral-200 dark:bg-neutral-800 dark:hover:bg-neutral-700">
                    • Tags
                </a>
            </li>
            <li>
                <a href="archive" class="px-3 py-2 rounded-lg bg-neutral-100 hover:bg-neutral-200 dark:bg-neutral-800 dark:hover:bg-neutral-700">
                    • Archive
                </a>
            </li>
        </ul>
  </div>
</aside>
