{% extends "index.html" %}
{% block main %}

<h1 class="mb-4">{{ section.title }}</h1>

{% set lines = section.description | split(pat="\n") %}
{% for line in lines %}
    <p>{{ line }}</p>
{% endfor %}

{% for path in section.subsections %}
{% set sub = get_section(path=path) %}
<section
  class="block-bg relative mb-4 rounded-lg p-4 first-of-type:mt-0 last-of-type:mb-0 active:scale-95 lg:mb-6 lg:p-6"
>

    <h2 class="my-0! pb-1 leading-none! font-bold">
      {{ sub.title }}{% if sub.pages | length > 1%} <sup class="opacity-60">{{ sub.pages | length }}</sup>{% endif %}
    </h2>

    {% if sub.description %}
    <p class="not-prose my-1 truncate">{{ sub.description }}</p>
    {% endif %}

    <a class="absolute inset-0 text-[0px]" href="{{ sub.permalink }}">{{ sub.title }}</a>
  </section>
{% endfor %}
{% endblock main %}